.env
.env.*
!.env.example

vendor/

node_modules/

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

storage/app/public/

.git/
.github/
.idea/
.vscode/
*.log

tests/
phpunit.xml
phpunit.xml.dist

README.md
docs/
