includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - routes/
        - packages/
    level: 5
    # reportUnmatchedIgnoredErrors: false
    excludePaths:
        - app/Filament
    ignoreErrors:
